#set($layout='layout/layout.vm')
<div class="=content-data">
    <html>
    <body>
        #set ( $name = "dear" )
    Hello $name!

    <form method="post" action="/manage/query">
        <input value="query" type="submit">
        <ul>
            #foreach($userInfo in $userInfos)
                <li>$userInfo.userId:$userInfo.userName</li>
            #end
        </ul>
    </form>
    </body>
    </html>
</div>