<div class="footer">
    <div class="wrapper">
        <div class="f-copyright">
            <h1></h1>
            <p></p>
        </div>
        <div class="info"><a href="mailto:jinyan.cao@qunar.com">联系我</a></div>
    </div>
</div>